---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 1h
  chart:
    spec:
      chart: longhorn
      version: "1.9.2"
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    defaultSettings:
      # Start with 2 replicas (we have 2 nodes, will add 3rd)
      defaultReplicaCount: 2
    persistence:
      # Retain volumes when PVC deleted (safer, manual cleanup)
      reclaimPolicy: Retain
      defaultClassReplicaCount: 2
    # Make Longhorn the default StorageClass
    defaultClass: true
