---
apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: control-plane
spec:
  statefulSet:
    pod:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  tailscale.com/parent-resource: homelab-subnet
              topologyKey: kubernetes.io/hostname
