---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: plex
  namespace: plex
spec:
  interval: 24h
  url: https://raw.githubusercontent.com/plexinc/pms-docker/gh-pages
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: plex
spec:
  interval: 30m
  chart:
    spec:
      chart: plex-media-server
      version: "0.x"
      sourceRef:
        kind: HelmRepository
        name: plex
  valuesFrom:
    - kind: Secret
      name: plex-claim
      valuesKey: claim
      targetPath: extraEnv.PLEX_CLAIM
  values:
    extraEnv:
      TZ: "America/Denver"

    service:
      type: LoadBalancer
      port: 32400

    pms:
      configExistingClaim: plex-config

    # Media and GPU volumes
    extraVolumes:
      - name: media
        persistentVolumeClaim:
          claimName: plex-media
      - name: dev-dri
        hostPath:
          path: /dev/dri
          type: Directory

    extraVolumeMounts:
      - name: media
        mountPath: /data/media
      - name: dev-dri
        mountPath: /dev/dri

